.registration-page-container {
  height: 100%;
}

.container{
  box-shadow: 0px 0px 30px rgba(199, 199, 199, 0.55);
  border-radius: 6px;
  width: 560px;
  height: 540px;
  left: 448px;
  top: 424px;

  padding-top: 24px;
  margin-bottom: 38px;
}

.registration-form{
  padding: 32px;
}

.logo{
  margin-top: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
  width: 71px;
  height: 32px;
  left: 32px;
  top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 132%;
  display: flex;
  align-items: center;
  color: #333333;
}

.btn-login{
  width: 80%;
  margin-left: 50px;
}


.btn-flotante {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  top: 40px;
  right: 40px;
  border: 2px solid #007AFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  width: 168px;
  height: 64px;
  justify-content: center;
}

.privacyPolycy{
  margin-top: 18px;
  font-size: 12px;
  margin-left: 100px;
  margin-right: 100px;
}


.text-color-blue{
  text-decoration: none;
}
